@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --foreground: #111111; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.test {
  border: 1px solid red;
}

@layer components {
  .text {
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
